.spinner {
    border: 4px solid rgba(0,0,0,0.1);
    border-left-color: #09f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

.spinner.small {
    width: 18px;
    height: 18px;
}

.spinner.medium {
    width: 30px;
    height: 30px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
